.menu {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.links a {
font-size: 18px;
line-height: 1.3;
padding: 10px 20px;
display: block;
color: #000000;
}

